@font-face {
  font-family: "Biko";
  font-style: normal;
  font-weight: 400;
  src: local("Biko"),
  local("Open Sans-Regular"),
  url("../fonts/biko_regular-webfont.woff") format("woff"),
  url("../fonts/biko_regular-webfont.woff2") format("woff2");
}
