.sidebar {
  background-color: #6ffe90;
  padding-top: 50px;
  z-index: 2;

  &--closed {
    display: none;
  }

  &--opened {
    display: block;
  }
}

.sidebar__title {
  margin: 0;
  font-size: 24px;
  line-height: normal;
  color: #ffffff;
  text-align: center;
}

.sidebar__text {
  position: relative;
  font-size: 18px;
  line-height: normal;
  color: #a870ff;
  text-align: center;

  &::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background: #a870ff;
    top: -5px;
  }
}
@media (min-width: 700px) {
  .sidebar {
    width: 15%;
    min-width: 15%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    display: block;
    padding: 15px 20px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: #6ffe90;

    &--closed {
      transform: translateX(-100%);
    }

    &--opened {
      transform: translateX(0%);
    }
  }

  .sidebar__title {
    padding-top: 100px;
    padding-bottom: 90px;
    width: 90px;
    text-align: left;
    font-size: 30px;
  }

  .sidebar__text {
    width: 90px;
    padding-bottom: 100px;
    text-align: left;
    font-size: 30px;

    &::before {
      width: 30px;
    }
  }
}
@media (min-width: 850px) {
  .sidebar {
    width: 20%;
  }

  .sidebar__title {
    padding-left: 5%;
  }

  .sidebar__text {
    padding-left: 5%;
  }
}
@media (min-width: 1000px) {
  .sidebar {
    width: 22%;
  }
}
@media (min-width: 1500px) {
  .sidebar {
    width: 29%;
  }
}
@media (min-width: 2000px) {
  .sidebar {
    width: 35%;
  }
}
