.social-icons {
  width: 150px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.social-icons__text {
  font-size: 18px;
  line-height: normal;
  color: #a870ff;
  text-align: center;
}
@media (min-width: 700px) {
  .social-icons__text {
    width: 100px;
    margin: 0;
  }
}
@media (min-width: 850px) {
  .social-icons {
    margin: 0;
    padding-left: 5%;
  }
}
