.widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 200px;
}

.widget__current-day {
  margin-bottom: 0;
  font-size: 25px;
  text-align: center;
  color: #70FF91;
}

.widget__location {
  font-size: 25px;
  line-height: normal;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.widget__day {
  display: flex;
  flex-direction: column;
}

.widget__current-max {
  display: block;
  position: relative;
  padding-top: 30px;
  font-size: 30px;
  font-weight: 700;
  color: #70FF91;
  text-align: center;

  &::after {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    right: 50px;
    top: 22px;
    background-image: url("../img/Celcium.svg");
  }
}

.widget__current-min {
  display: block;
  position: relative;
  padding-top: 5px;
  padding-bottom: 30px;
  font-size: 25px;
  font-weight: 700;
  color: #70FF91;
  text-align: center;
  opacity: 0.5;

  &::after {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    right: 80px;
    top: 24px;
    background-image: url("../img/Celcium.svg");
  }
}

.widget__title {
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.widget__img {
  width: 95px;
  margin: 0 auto;
}

.widget__max {
  display: block;
  position: relative;
  padding-top: 30px;
  font-size: 18px;
  font-weight: 700;
  color: #70FF91;
  text-align: center;

  &::after {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    right: 55px;
    top: 20px;
    background-image: url("../img/Celcium.svg");
  }
}

.widget__min {
  display: block;
  padding-top: 5px;
  font-size: 18px;
  font-weight: 700;
  color: #70FF91;
  text-align: center;
  opacity: 0.5;
}
@media (min-width: 700px) {
  .widget {
    width: 500px;
    margin-left: 220px;
  }

  .widget__max {
    &::after {
      right: 5px;
    }
  }

  .widget__wrapper {
    &--top {
      width: 200px;
      margin: 0 auto;
      padding-left: 125px;
    }

    &--bottom {
      display: flex;
    }
  }

  .widget__day {
    padding-right: 20px;
  }
}
@media (min-width: 850px) {
  .widget {
    margin-left: 290px;
  }
}
@media (min-width: 1000px) {
  .widget {
    margin-left: 395px;
  }
}
@media (min-width: 1500px) {
  .widget {
    margin-left: 400px;
  }
}
@media (min-width: 1200px) {
  .widget {
    margin-left: 550px;
  }

  .widget__day {
    padding-right: 40px;
  }
}
@media (min-width: 2001px) {
  .widget {
    margin: 0 auto;
  }
}
